/* Blog */
.section-blog .blog-card:hover figure:before {
	-webkit-animation: shine 0.75s;
	animation: shine 0.75s;
}

.section-blog .blog-card figure {
	margin: 0;
	position: relative;
	overflow: hidden;
}

.section-blog .blog-card figure:before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: "";
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(
		left,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.3) 100%
	);
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.3) 100%
	);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

.blog-slider {
	margin: 0 -10px;
}

.blog-slider .blog-card {
	margin: 0 12px;
}

.blog-image-top {
	width: 100%;
	border-radius: var(--border-radius);
}

.rs-tb-20 {
	padding: 24px 0;
}

.lh-blog {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.lh-blog .lh-blog-date {
	padding: 15px 0;
	line-height: 15px;
}

.lh-blog .lh-blog-date span {
	font-family: var(--text-font);
	font-size: 13px;
}

.lh-blog .lh-blog-date span code {
	font-size: 16px;
	color: var(--primary);
}

.lh-blog .top-heding {
	font-family: var(--title-font);
	font-size: 18px;
	color: var(--black);
	margin-top: 0;
	font-weight: 700;
	cursor: pointer;
}

.lh-blog p {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid var(--border-color);
}

.lh-blog .lh-read-button {
	padding-top: 15px;
}

.lh-blog .lh-read-button a {
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	color: var(--black);
}

.lh-our-blog {
	background-color: var(--gray_500);
	border-radius: var(--border-radius);
}

.lh-our-blog .lh-our-blog-image {
	position: relative;
}

.lh-our-blog .lh-our-blog-image img {
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}

.lh-our-blog .lh-our-blog-image .lh-our-blog-date {
	padding: 6px 12px;
	position: absolute;
	top: 12px;
	right: 12px;
	background-color: var(--white);
	border-radius: var(--border-radius);
}

.lh-our-blog .lh-our-blog-image .lh-our-blog-date h4 {
	font-size: 34px;
	color: var(--primary);
	border-bottom: 1px solid var(--border-color);
}

.lh-our-blog .lh-our-blog-image .lh-our-blog-date span {
	display: flex;
	justify-content: center;
}

.lh-our-blog .lh-our-blog-contain {
	padding: 24px;
}

.lh-our-blog .lh-our-blog-contain .lh-our-blog-contain-heading {
	padding-bottom: 0px;
	border-bottom: 1px solid var(--border-color);
}

.lh-our-blog .lh-our-blog-contain .lh-our-blog-contain-heading h4 {
	font-size: 22px;
	color: var(--black);
	line-height: 28px;
}

.lh-our-blog .lh-our-blog-contain .lh-our-blog-contain-heading span {
	margin-top: 5px;
	display: block;
}

.lh-our-blog .lh-our-blog-contain .lh-our-blog-contain-text {
	padding-top: 24px;
}

.lh-our-blog .lh-our-blog-contain .lh-our-blog-contain-buttons {
	padding-top: 24px;
	display: flex;
}

.lh-our-blog .lh-businessman-detalis {
	padding: 24px;
}

.lh-our-blog .lh-businessman-detalis-image {
	display: flex;
	justify-content: center;
	padding-bottom: 15px;
}

.lh-our-blog .lh-businessman-detalis-image img {
	width: 100px;
	height: 100px;
	border-radius: 100px;
}

.lh-our-blog .lh-businessman-detalis-contain {
	text-align: center;
}

.lh-our-blog .lh-businessman-detalis-contain h4.lh-businessman-detalis-name {
	font-size: 18px;
	color: var(--black);
	padding-bottom: 15px;
	margin: 0;
}

.lh-our-blog .lh-businessman-detalis-logos {
	padding-top: 15px;
}

.lh-our-blog .lh-businessman-detalis-logos img {
	width: 30px;
}

.lh-our-blog .lh-our-blog-serch-box .form-conrol {
	border: none;
	outline: none;
	height: 50px;
	width: 100%;
	border-radius: var(--border-radius);
	background-color: var(--gray_500);
	padding-left: 24px;
	margin: 0;
}

.lh-our-blog .lh-our-blog-serch-box .lh-our-blog-button {
	border: none;
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	background-color: var(--gray_500);
	padding-right: 24px;
}

.lh-our-blog .lh-our-blog-heading {
	border-bottom: 1px solid var(--border-color);
	padding-bottom: 24px;
}

.lh-our-blog .lh-our-blog-heading h4 {
	font-size: 18px;
	color: var(--black);
	text-transform: capitalize;
}

.lh-our-blog .lh-our-blog-categories {
	padding: 24px;
}

.lh-our-blog .lh-our-blog-categories ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.lh-our-blog .lh-our-blog-categories ul li {
	padding-top: 15px;
	display: flex;
	align-items: center;
}

.lh-our-blog .lh-our-blog-categories ul li a,
.lh-our-blog .lh-our-blog-categories ul li p {
	width: 100%;
	display: flex;
	line-height: 20px;
	align-items: center;
}

.lh-our-blog .lh-our-blog-categories ul li a:hover span,
.lh-our-blog .lh-our-blog-categories ul li p:hover span {
	color: var(--primary);
}

.lh-our-blog .lh-our-blog-categories ul li code {
	height: 5px;
	font-size: 18px;
	padding-right: 5px;
	color: var(--primary);
	line-height: 10px;
}

.lh-our-blog .lh-our-blog-categories ul li span {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.lh-our-blog .lh-our-blog-post {
	padding: 24px;
}

.lh-our-blog .lh-our-blog-post .lh-our-blog-post-pb {
	padding-top: 24px;
}

.lh-our-blog .lh-our-blog-post-inner {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.lh-our-blog .lh-our-blog-post-inner img {
	width: 80px;
	height: 80px;
	border-radius: var(--border-radius);
}

.lh-our-blog .lh-our-blog-post-inner .lh-our-blog-post-contain {
	width: calc(100% - 80px);
	padding: 0 0 0 24px;
	display: flex;
	flex-direction: column;
}

.lh-our-blog .lh-our-blog-post-inner .lh-our-blog-post-contain a {
	font-size: 15px;
	font-weight: 500;
	line-height: 23px;
	color: var(--black);
	padding-top: 5px;
}

.lh-our-blog .lh-our-blog-tages {
	padding: 24px;
}

.lh-our-blog .lh-our-blog-tages-inner {
	padding-top: 24px;
}

.lh-our-blog .lh-our-blog-tages-inner-element {
	padding: 0;
	text-align: justify;
}

.lh-our-blog .lh-our-blog-tages-inner-element span {
	background-color: var(--white);
	border-radius: 10px;
	padding: 5px 15px;
}

.lh-our-blog:not(:last-child) {
	margin-bottom: 24px;
}

/* Responsive */
@media screen and (max-width: 1399px) {
	.lh-blog {
		.lh-read-button {
			padding-top: 24px;
		}
	}

	.lh-our-blog {
		.lh-our-blog-contain {
			.lh-our-blog-contain-heading {
				padding-bottom: 0px;

				h4 {
					font-size: 20px;
				}
			}

			.lh-our-blog-contain-text {
				padding-top: 30px;
			}

			.lh-our-blog-contain-buttons {
				padding-top: 30px;
			}
		}
	}

	.lh-our-blog-instagram {
		.lh-our-blog-instagram-image {
			.lh-our-blog-instagram-image-inner {
				img {
					&:not(:nth-child(3)) {
						margin-right: 15px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1199px) {
	.lh-blog {
		.top-heding {
			font-size: 16px;
			line-height: 24px;
		}
	}

	.lh-our-blog-instagram {
		.lh-our-blog-instagram-image {
			.lh-our-blog-instagram-image-inner {
				img {
					&:not(:nth-child(3)) {
						margin-right: 10px;
					}
				}
			}
		}
	}

	.lh-our-blog {
		.lh-our-blog-contain {
			.lh-our-blog-contain-heading {
				padding-bottom: 0px;
			}

			.lh-our-blog-contain-text {
				padding-top: 24px;
			}

			.lh-our-blog-contain-buttons {
				padding-top: 24px;
			}
		}

		.lh-our-blog-tages {
			.lh-our-blog-tages-inner {
				.lh-our-blog-tages-inner-element {
					span {
						padding: 5px 10px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.lh-blog {
		.lh-read-button {
			padding-top: 24px;
		}

		p {
			padding-bottom: 24px;
		}
	}

	.blog-rs {
		margin-top: 30px;
	}
	.lh-our-blog {
		.lh-our-blog-image {
			.lh-our-blog-date {
				h4 {
					font-size: 32px;
				}
			}
		}
	}
	.lh-our-blog {
		.lh-our-blog-contain {
			.lh-our-blog-contain-heading {
				padding-bottom: 0px;

				h4 {
					font-size: 18px;
				}
			}

			.lh-our-blog-contain-text {
				padding-top: 24px;
			}

			.lh-our-blog-contain-buttons {
				padding-top: 24px;
			}
		}

		.lh-our-blog-tages {
			.lh-our-blog-tages-inner {
				.lh-our-blog-tages-inner-element {
					span {
						padding: 5px 70px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.lh-our-blog {
		.lh-our-blog-tages {
			.lh-our-blog-tages-inner {
				.lh-our-blog-tages-inner-element {
					span {
						padding: 5px 45px;
					}
				}
			}
		}
	}
	.lh-our-blog {
		.lh-our-blog-image {
			.lh-our-blog-date {
				h4 {
					font-size: 28px;
				}
			}
		}
	}
}

@media screen and (max-width: 575px) {
	.lh-our-blog {
		.lh-our-blog-tages {
			.lh-our-blog-tages-inner {
				.lh-our-blog-tages-inner-element {
					span {
						padding: 5px 40px;
					}
				}
			}
		}
	}
	.lh-our-blog-instagram {
		.lh-our-blog-instagram-image {
			.lh-our-blog-instagram-image-inner {
				grid-template-columns: repeat(auto-fill, calc(33.3333% - 10px));
			}
		}
	}
	.lh-our-blog {
		.lh-our-blog-post {
			.lh-our-blog-post-pb {
				.lh-our-blog-post-inner {
					img {
						width: 50px;
						height: 50px;
					}
					.lh-our-blog-post-contain {
						width: calc(100% - 50px);
					}
				}
			}
		}
	}
	.lh-our-blog {
		.lh-our-blog-image {
			.lh-our-blog-date {
				h4 {
					font-size: 24px;
				}
			}
		}
	}
}
@media screen and (max-width: 360px) {
	.lh-our-blog-instagram {
		.lh-our-blog-instagram-image {
			.lh-our-blog-instagram-image-inner {
				grid-template-columns: repeat(auto-fill, calc(50% - 10px));
			}
		}
	}
}
/* ===============================
   SIDEBAR AREA
================================*/
.sidebar {
	padding-left: 30px;
}

.sidebar .widget {
	margin-bottom: 40px;
}

.sidebar .widget h4 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
	position: relative;
}

.sidebar .widget h4:after {
	content: "";
	width: 40px;
	height: 3px;
	background: #0078ff;
	position: absolute;
	bottom: -8px;
	left: 0;
}

/* ---------- Popular Posts ---------- */
.widget-popular .popular-item {
	display: flex;
	margin-bottom: 20px;
}

.widget-popular .popular-item img {
	width: 75px;
	height: 75px;
	object-fit: cover;
	border-radius: 8px;
	margin-right: 15px;
}

.widget-popular .popular-item .info a {
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
	color: #333;
}

.widget-popular .popular-item .info a:hover {
	color: #0078ff;
}

/* ---------- Category List ---------- */
.widget-category ul {
	list-style: none;
	padding-left: 0;
}

.widget-category ul li {
	display: flex;
	justify-content: space-between;
	padding: 8px 0;
	border-bottom: 1px solid #eee;
}

.widget-category ul li a {
	color: #333;
	text-decoration: none;
	font-size: 15px;
}

.widget-category ul li a:hover {
	color: #0078ff;
}

/* ---------- Tag Cloud ---------- */
.widget-tags ul {
	list-style: none;
	padding-left: 0;
}

.widget-tags ul li {
	display: inline-block;
}

.widget-tags ul li a {
	background: #f1f1f1;
	padding: 6px 14px;
	margin: 4px 3px;
	font-size: 14px;
	border-radius: 20px;
	display: inline-block;
	text-decoration: none;
	color: #555;
	transition: all 0.2s ease;
}

.widget-tags ul li a:hover {
	background: #0078ff;
	color: #fff;
}

/* ===============================
   SINGLE POST
================================*/
.single-post-title {
	text-align: center;
	margin-bottom: 20px;
}

.single-post-meta {
	text-align: center;
	color: #777;
	font-size: 14px;
	margin-bottom: 40px;
}

.single-post-content img {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 30px;
}

.single-post-content p {
	font-size: 17px;
	line-height: 1.8;
}

.post-tags {
	margin-top: 30px;
}

.post-tags a {
	display: inline-block;
	background: #eee;
	padding: 6px 12px;
	margin: 3px;
	border-radius: 20px;
	color: #555;
	text-decoration: none;
}

.post-tags a:hover {
	background: #0078ff;
	color: #fff;
}

/* ===============================
   COMMENTS AREA
================================*/
.comments-area {
	margin-top: 50px;
}

.comment-item {
	margin-bottom: 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}

.comment-item .author {
	font-weight: bold;
	color: #333;
}

.comment-item .date {
	font-size: 13px;
	color: #999;
}

.comment-item p {
	margin-top: 8px;
}

/* ===============================
   FOOTER
================================*/
.footer {
	background: #1a1a1a;
	color: #bbb;
	padding: 50px 0;
	text-align: center;
	margin-top: 50px;
}

.footer a {
	color: #eee;
	text-decoration: none;
}

.footer a:hover {
	color: #0078ff;
}

/* ===============================
   RESPONSIVE
================================*/
@media (max-width: 991px) {
	.sidebar {
		padding-left: 0;
		margin-top: 40px;
	}
}

@media (max-width: 576px) {
	.blog-card {
		margin-bottom: 25px;
	}

	.blog-card img {
		height: 180px;
	}

	.post-tags a {
		font-size: 13px;
	}
}
