/*  Gallery-2 */
.section-gallery-2 {
    .magnific-img {
        margin-bottom: 24px;
    }
}
.lh-gallery-second {
    display: block;
    position: relative;
    .magnific-img {
        overflow: hidden;
        position: relative;
        &:before {
            content: "";
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: -75%;
            z-index: 2;
            display: block;
            background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
            -webkit-transform: skewX(-25deg);
            transform: skewX(-25deg);
        }
        &:hover {
            &:before {
                -webkit-animation: shine 0.75s;
                animation: shine 0.75s;
            }
            .gallery-img {
                &:before, &:after {
                    opacity: 1;
                }
            }
        }
        .gallery-img {
            &:before {
                @include ease05;
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                background-color: rgba(0, 0, 0, .7);
                opacity: 0;
                border-radius: 15px;
            }
            &:after {
                @include ease05;
                content: "\f0d1";
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                color: #fff;
                z-index: 3;
                font-size: 25px;
                font-family: remixicon !important;
                opacity: 0;
            }
        }
    }
}

.lh-gallery-second {
    margin: auto;
    max-width: 450px;
    img {
        width: 100%;
        border-radius: $border-radius;
    }
    .lh-gallery-in {
        img {
            width: 100%;
            height: 270px;
            border-radius: $border-radius;
            &:hover {
                opacity: 1;
            }
        }

        &:last-child {
            padding-top: 30px;
        }
    }
}
